@charset "UTF-8";
@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
:before,
:after {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px; }
  @media screen and (max-width: 500px) {
    *,
    :before,
    :after {
      font-size: 12px; } }

body {
  margin: 0; }

input {
  transition: all 0.4s ease-in; }

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
  height: 30px; }

label {
  color: #fefefe;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.7s;
  height: 30px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.2); }

form {
  padding: 1px; }

section {
  opacity: 0;
  animation: show 0.4s ease-in forwards; }

input[type="radio"]:checked + label {
  color: rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.8); }

label + input[type="radio"] + label {
  border-left: 1px solid rgba(0, 0, 0, 0.2); }

.radio-group {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  border-radius: 2px; }

.application {
  padding-bottom: 20px;
  width: 60%;
  min-height: 100vh;
  margin: auto; }
  @media only screen and (max-width: 500px) {
    .application {
      width: 95%; } }
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    .application {
      width: 90%; } }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .application {
      width: 80%; } }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .application {
      width: 70%; } }
  @media only screen and (min-width: 1280px) {
    .application {
      width: 50%; } }

.controllers {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px; }
  @media only screen and (max-width: 500px) {
    .controllers {
      grid-template-columns: 1fr; } }
  .controllers h3 {
    color: #fefefe;
    font-family: "Spartan"; }

.langSwitcher,
.search-form {
  grid-column: auto / span 2; }
  @media only screen and (max-width: 500px) {
    .langSwitcher,
    .search-form {
      grid-column: auto / span 1; } }

.avatar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 70px;
  height: 70px; }

.field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
  gap: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9); }
  .field:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .field:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  @media screen and (max-width: 680px) {
    .field {
      gap: 0; } }

.field p {
  align-self: center; }

.field .avatar {
  grid-column: 1 / 1; }
  @media screen and (max-width: 680px) {
    .field .avatar {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      align-self: center; } }

.field .name {
  grid-column: 2 / span 3;
  margin: 0;
  font-size: 18px; }
  @media screen and (max-width: 680px) {
    .field .name {
      grid-column: span 5 / 8; } }
  @media screen and (max-width: 360px) {
    .field .name {
      grid-column: span 4 / 8; } }

.name {
  font-family: "Spartan";
  font-size: 18px; }
  @media screen and (max-width: 420px) {
    .name {
      font-size: 14px; } }

.field .age {
  grid-column: auto / span 1; }
  @media screen and (max-width: 680px) {
    .field .age {
      grid-column: span 2 / 9;
      grid-row-start: 2;
      justify-self: end; } }

.field .phone {
  grid-column: auto / span 2; }
  @media screen and (max-width: 680px) {
    .field .phone {
      grid-column: span 4 / 7;
      grid-row-start: 2; } }
  @media screen and (max-width: 360px) {
    .field .phone {
      grid-column: span 3 / 7; } }

@media screen and (max-width: 680px) {
  .field .rating {
    align-self: center;
    grid-column-start: 8; } }

input[type="checkbox"] {
  display: none;
  position: absolute;
  visibility: hidden; }
  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:checked ~ label:after {
    content: "★";
    color: #f9bf3b;
    text-shadow: 0 0 20px #f9bf3b; }

.rating {
  align-self: center; }
  .rating > * {
    float: right; }
  .rating label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
    background: none;
    line-height: 40px;
    padding: 0 20px; }
    .rating label:after {
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      content: "☆";
      color: #444;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 30px; }
    .rating label:hover:after {
      color: #5e5e5e;
      text-shadow: 0 0 15px #5e5e5e; }
  .rating input {
    display: none; }
    .rating input:checked + label:after,
    .rating input:checked ~ label:after {
      content: "★";
      color: #f9bf3b;
      text-shadow: 0 0 20px #f9bf3b; }

.card {
  padding: 20px; }

.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.card__side {
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%; }

.human-preview {
  display: flex;
  min-height: 250px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden; }
  @media only screen and (max-width: 680px) {
    .human-preview {
      flex-direction: column; } }
  .human-preview > div {
    flex-basis: 50%; }
  .human-preview > .card:last-child {
    flex-basis: 100%; }

.human-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.Previews {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: dense; }

.viewSwitcher {
  display: flex;
  flex-direction: column; }
  .viewSwitcher form {
    flex: 2 0 auto;
    margin-bottom: 10px; }
  .viewSwitcher .radio-group {
    height: 100%; }
  .viewSwitcher label {
    height: 100%;
    line-height: 70px; }
  @media screen and (max-width: 500px) {
    .viewSwitcher label {
      line-height: 30px; } }

.col_1 {
  grid-column: auto / span 1; }
  @media only screen and (max-width: 500px) {
    .col_1 {
      grid-column: auto / span 2; } }

.col_2 {
  grid-column: auto / span 2; }

.table {
  margin-top: 30px; }

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.7);
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.search-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  height: 30px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

.search-form input,
.search-form button {
  color: #666666;
  flex: 1 0 auto;
  border: none;
  font-size: 16px; }

.search-form button {
  flex: 1 0 auto;
  background: rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: rgba(0, 0, 0, 0.4); }
  .search-form button:hover, .search-form button:focus {
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold; }

.search-form input {
  flex: 4 0 auto;
  padding: 0 10px;
  outline: none;
  color: #999;
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: rgba(255, 255, 255, 0.7); }
  .search-form input:focus {
    color: #666;
    background: rgba(255, 255, 255, 0.9); }

@keyframes suggestions-show {
  from {
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0; }
  to {
    opacity: 1;
    transform: scaleY(1); } }

.suggestions {
  margin: 1px 0 0 0;
  padding: 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
  flex-basis: 100%;
  background: #fefefe;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in;
  animation: suggestions-show 0.4s linear forwards; }
  .suggestions_hidden {
    display: none; }
  .suggestions li {
    color: #666666;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer; }
  .suggestions li:hover {
    background: rgba(0, 0, 0, 0.1) lightskyblue; }
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .suggestions .hl {
    background: #ffc600; }

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -200px;
  z-index: -1;
  background-color: midnightblue;
  background-image: url("/back3.f832b407.svg");
  background-size: cover; }

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(200px);
  background: lightcyan; }

.player {
  position: relative;
  font-size: 0;
  overflow: hidden; }

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%; }

.player:-webkit-full-screen {
  max-width: none;
  width: 100%; }

.player__video {
  width: 100%; }

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px; }

.player__slider {
  max-width: 70px;
  margin-right: auto !important;
  height: 30px; }

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1); }

.player:hover .player__controls {
  transform: translateY(0); }

.player:hover .progress {
  height: 10px; }

.player__controls > * {
  flex: 1; }

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 10px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize; }

.progress__filled {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
  flex: 0;
  flex-basis: 50%; }

/* unholy css to style input type="range" */
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px; }

input[type="range"]:focus {
  outline: none; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0); }

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #fff; }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0); }

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer; }

.fullScreen {
  background: url("/fullScreen.2403092b.svg") center center no-repeat;
  background-size: 20px 20px;
  opacity: 0.8; }
  .fullScreen:hover {
    opacity: 1; }

.previewScreen {
  background: url("/previewScreen.5849b4d0.svg") center center no-repeat;
  background-size: 20px 20px;
  opacity: 0.8; }
  .previewScreen:hover {
    opacity: 1; }


/*# sourceMappingURL=/src.e31bb0bc.css.map */