$bg: midnightblue;
$text: #222;
$text-white: #fefefe;
$text-secondary: #666;
$brand-yellow: #ffc600;
$border-color: rgba(0, 0, 0, 0.2);
$bg-light: rgba(255, 255, 255, 0.2);
$bg-dark: rgba(0, 0, 0, 0.5);
$bg-light-hover: rgba(255, 255, 255, 0.8);
$shadow: rgba(0, 0, 0, 0.3);

$border-radius: 2px;

$star-size: 30px;

$border-width: 1px;

// Declare font size in root, in order to use relative font sizes(rem)
:root {
  font-size: 16px;
  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}

@mixin border {
  border: $border-width solid $border-color;
}

@mixin shadow {
  box-shadow: -2px 2px 3px 1px $shadow;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
:before,
:after {
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  margin: 0;
  color: $text;
  font-family: "Open Sans", sans-serif;
}

input {
  transition: all 0.4s ease-in;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
  height: 30px;
}

label {
  color: $text-white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.7s;
  height: 30px;
  line-height: 30px;
  background: $bg-light;
}

section {
  opacity: 0;
  animation: show 0.4s ease-in forwards;
}

input[type="radio"]:checked + label {
  color: $text-secondary;
  background: $bg-light-hover;
}

label + input[type="radio"] + label {
  border-left: $border-width solid $border-color;
}
.radio-group {
  @include shadow();
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  border-radius: $border-radius;
}

.application {
  padding-bottom: 20px;
  width: 60%;
  min-height: 100vh;
  margin: auto;
  @media only screen and (max-width: 500px) {
    width: 95%;
  }
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    width: 90%;
  }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    width: 80%;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    width: 70%;
  }
  @media only screen and (min-width: 1280px) {
    width: 50%;
  }
}

.controllers {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
  h3 {
    color: $text-white;
    font-weight: normal;
    span {
      color: $text-white;
    }
  }
}

.langSwitcher,
.search-form {
  grid-column: auto / span 2;
  @media only screen and (max-width: 500px) {
    grid-column: auto / span 1;
  }
}

.avatar {
  @include border();
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
  gap: 10px;
  overflow: hidden;
  background: $bg-light-hover;
  @include border();
  @include shadow();

  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  @media screen and (max-width: 680px) {
    gap: 0;
  }
}

.field p {
  align-self: center;
}

.field .avatar {
  grid-column: 1 / 1;

  @media screen and (max-width: 680px) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
  }
}
.field .name {
  grid-column: 2 / span 3;
  margin: 0;
  font-size: 1.125rem;
  @media screen and (max-width: 680px) {
    grid-column: span 5 / 8;
  }
  @media screen and (max-width: 360px) {
    grid-column: span 4 / 8;
  }
}

.name {
  font-family: "Bitter", serif;
  font-size: 1.125rem;
  color: $text-secondary;
}

.field .age {
  grid-column: auto / span 1;

  @media screen and (max-width: 680px) {
    grid-column: span 2 / 9;
    grid-row-start: 2;
    justify-self: end;
  }
}

.field .phone {
  grid-column: auto / span 2;

  @media screen and (max-width: 680px) {
    grid-column: span 4 / 7;
    grid-row-start: 2;
  }
  @media screen and (max-width: 360px) {
    grid-column: span 3 / 7;
  }
}

.field .rating {
  @media screen and (max-width: 680px) {
    align-self: center;
    grid-column-start: 8;
  }
}

@mixin star-rating($filled-color, $empty-color, $size) {
  $star--filled: ★;
  $star--empty: ☆;
  > * {
    float: right;
  }

  input[type="checkbox"] {
    display: none;
    position: absolute;
    visibility: hidden;
    &:checked {
      + label:after,
      ~ label:after {
        content: "#{$star--filled}";
        color: $filled-color;
      }
    }
  }

  label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
    background: none;
    line-height: 40px;
    padding: 0 20px;

    &:after {
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      content: "#{$star--empty}";
      color: $empty-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: $size;
    }
    &:hover:after {
      color: lighten($empty-color, 10%);
    }
  }
  input {
    display: none;
    &:checked {
      + label:after,
      ~ label:after {
        content: "#{$star--filled}";
        color: $filled-color;
      }
    }
  }
}

.rating {
  align-self: center;
  @include star-rating($brand-yellow, $text-secondary, $star-size);
}

.card {
  padding: 20px;
}
.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__side {
  @include shadow();
  overflow: hidden;
  width: 100%;
}

.human-preview {
  display: flex;
  min-height: 250px;
  border-radius: $border-radius;
  background: $bg-light-hover;
  overflow: hidden;
  @include shadow();

  @media only screen and (max-width: 680px) {
    flex-direction: column;
  }
  & > div {
    flex-basis: 50%;
  }
  & > .card:last-child {
    flex-basis: 100%;
  }
}

.human-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Previews {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: dense;
}

.viewSwitcher {
  display: flex;
  flex-direction: column;

  form {
    flex: 2 0 auto;
    margin-bottom: 10px;
  }

  .radio-group {
    height: 100%;
  }

  label {
    height: 100%;
    line-height: 70px;
  }

  @media screen and (max-width: 500px) {
    label {
      line-height: 30px;
    }
  }
}

.col_1 {
  grid-column: auto / span 1;
  @media only screen and (max-width: 500px) {
    grid-column: auto / span 2;
  }
}

.col_2 {
  grid-column: auto / span 2;
}

.table {
  margin-top: 30px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7) transparent rgba(0, 0, 0, 0.7) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  height: 30px;
  border-radius: $border-radius;
  @include shadow();
}

.search-form input,
.search-form button {
  color: $text-white;
  flex: 1 0 auto;
  border: none;
  font-size: 1rem;
  background: $bg-light;
}

.search-form button {
  flex: 1 0 auto;
  border-left: 1px solid $border-color;
  height: 30px;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  // color: $text;
  &:hover,
  &:focus {
    color: $text;
    background: $bg-light-hover;
  }
}
.search-form input {
  flex: 4 0 auto;
  padding: 0 10px;
  outline: none;
  outline: none;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  &:focus {
    color: $text;
    background: $bg-light-hover;
    &::placeholder {
      color: $text;
    }
  }
  &::placeholder {
    color: $text-white;
  }
}

@keyframes suggestions-show {
  from {
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.suggestions {
  margin: 1px 0 0 0;
  padding: 0;
  position: relative;
  list-style: none;
  z-index: 1;
  flex-basis: 100%;
  background: $text-white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  transition: all 0.4s ease-in;
  animation: suggestions-show 0.4s linear forwards;
  @include border();
  @include shadow();

  &_hidden {
    display: none;
  }

  li {
    color: $text;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
  }
  li:hover {
    // background: $;
  }
  li:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
  .hl {
    background: $brand-yellow;
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -200px;
  z-index: -1;
  background-color: $bg;
  background-image: url("./assets/back3.svg");
  background-size: cover;
}

.player {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: $bg-light-hover;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

.player__slider {
  max-width: 70px;
  margin-right: auto !important;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 10px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 10px;
  transition: height 0.3s;
  background: $bg-dark;
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: $bg-light-hover;
  flex: 0;
  flex-basis: 50%;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: $bg-light-hover;
  border-radius: 1.3px;
  border: 0.2px solid $text;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: $brand-yellow;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $bg-light-hover;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: $bg-light-hover;
  border-radius: 1.3px;
  border: 0.2px solid $text;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: $bg-light-hover;
  cursor: pointer;
}

.fullScreen {
  background: url("./assets/fullScreen.svg") center center no-repeat;
  background-size: 20px 20px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.previewScreen {
  background: url("./assets/previewScreen.svg") center center no-repeat;
  background-size: 20px 20px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.test {
  transform: rotate(90deg);
}
