$bg: rgba(0, 0, 0, 1);
$fg: lighten($bg, 20%);
$borderWidth: 1px;

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*,
:before,
:after {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px;

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

body {
  margin: 0;
}

input {
  transition: all 0.4s ease-in;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
  height: 30px;
}

label {
  // color: rgba(0, 0, 0, 0.4);
  color: #fefefe;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.7s;
  height: 30px;
  line-height: 30px;
  // background: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.2);
}

form {
  padding: 1px;
}

section {
  opacity: 0;
  animation: show 0.4s ease-in forwards;
}

input[type="radio"]:checked + label {
  // color: #fefefe;
  // background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.8);
}

label + input[type="radio"] + label {
  // border-left: solid $borderWidth $fg;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.radio-group {
  // border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
  border-radius: 2px;
}

.application {
  padding-bottom: 20px;
  width: 60%;
  min-height: 100vh;
  margin: auto;
  @media only screen and (max-width: 500px) {
    width: 95%;
  }
  @media only screen and (min-width: 501px) and (max-width: 768px) {
    width: 90%;
  }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    width: 80%;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    width: 70%;
  }
  @media only screen and (min-width: 1280px) {
    width: 50%;
  }
}

.controllers {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
  h3 {
    color: #fefefe;
    font-family: "Spartan";
  }
}

.langSwitcher,
.search-form {
  grid-column: auto / span 2;
  @media only screen and (max-width: 500px) {
    grid-column: auto / span 1;
  }
}

.avatar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;
  gap: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9);
  &:first-of-type {
    // border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  &:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  @media screen and (max-width: 680px) {
    gap: 0;
  }
}

// .field:not(:last-of-type) {
//   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
// }

.field p {
  align-self: center;
}

.field .avatar {
  grid-column: 1 / 1;

  @media screen and (max-width: 680px) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
  }
}
.field .name {
  grid-column: 2 / span 3;
  margin: 0;
  font-size: 18px;
  @media screen and (max-width: 680px) {
    grid-column: span 5 / 8;
  }
  @media screen and (max-width: 360px) {
    grid-column: span 4 / 8;
  }
}

.name {
  font-family: "Spartan";
  font-size: 18px;
  @media screen and (max-width: 420px) {
    font-size: 14px;
  }
}

.field .age {
  grid-column: auto / span 1;

  @media screen and (max-width: 680px) {
    grid-column: span 2 / 9;
    grid-row-start: 2;
    justify-self: end;
  }
}

.field .phone {
  grid-column: auto / span 2;

  @media screen and (max-width: 680px) {
    grid-column: span 4 / 7;
    grid-row-start: 2;
  }
  @media screen and (max-width: 360px) {
    grid-column: span 3 / 7;
  }
}

.field .rating {
  @media screen and (max-width: 680px) {
    align-self: center;
    grid-column-start: 8;
  }
}

$star--filled: ★;
$star--empty: ☆;
$filled-color: #f9bf3b;
$empty-color: #444;
$size: 30px;

input[type="checkbox"] {
  display: none;
  position: absolute;
  visibility: hidden;
  &:checked {
    + label:after,
    ~ label:after {
      content: "#{$star--filled}";
      color: $filled-color;
      text-shadow: 0 0 20px $filled-color;
    }
  }
}

@mixin star-rating($filled-color: #f9bf3b, $empty-color: #444, $size: 30px) {
  $star--filled: ★;
  $star--empty: ☆;
  > * {
    float: right;
  }

  label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
    background: none;
    line-height: 40px;
    padding: 0 20px;

    &:after {
      transition: all 0.4s ease-out;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      content: "#{$star--empty}";
      color: $empty-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: $size;
    }
    &:hover:after {
      color: lighten($empty-color, 10%);
      text-shadow: 0 0 15px lighten($empty-color, 10%);
    }
  }
  input {
    display: none;
    &:checked {
      + label:after,
      ~ label:after {
        content: "#{$star--filled}";
        color: $filled-color;
        text-shadow: 0 0 20px $filled-color;
      }
    }
  }
}

.rating {
  align-self: center;
  @include star-rating();
}

.card {
  padding: 20px;
}
.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__side {
  // margin-right: -1px;
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
}

.human-preview {
  display: flex;
  min-height: 250px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;

  @media only screen and (max-width: 680px) {
    flex-direction: column;
  }
  & > div {
    flex-basis: 50%;
  }
}

.human-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Previews {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: dense;
}

.viewSwitcher {
  display: flex;
  flex-direction: column;

  form {
    flex: 2 0 auto;
    margin-bottom: 10px;
  }

  .radio-group {
    height: 100%;
  }

  label {
    height: 100%;
    line-height: 70px;
  }

  @media screen and (max-width: 500px) {
    label {
      line-height: 30px;
    }
  }
}

.col_1 {
  grid-column: auto / span 1;
  @media only screen and (max-width: 500px) {
    grid-column: auto / span 2;
  }
}

.col_2 {
  grid-column: auto / span 2;
}

.table {
  margin-top: 30px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  // background: rgba(255, 255, 255, 0.9);
  // border-radius: 2px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(0, 0, 0, 0.7);
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  // justify-content: center;
  padding: 0;
  height: 30px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.search-form input,
.search-form button {
  color: #666666;
  flex: 1 0 auto;
  border: none;
  font-size: 16px;
}

.search-form button {
  flex: 1 0 auto;
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  // color: #fefefe;
  color: rgba(0, 0, 0, 0.4);
  &:hover,
  &:focus {
    // background: rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
  }
}
.search-form input {
  flex: 4 0 auto;
  padding: 0 10px;
  outline: none;
  color: #999;
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: rgba(255, 255, 255, 0.7);
  &:focus {
    color: #666;
    background: rgba(255, 255, 255, 0.9);
  }
}

@keyframes suggestions-show {
  from {
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.suggestions {
  margin: 1px 0 0 0;
  padding: 0;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
  flex-basis: 100%;
  background: #fefefe;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in;
  animation: suggestions-show 0.4s linear forwards;

  &_hidden {
    display: none;
  }

  li {
    color: #666666;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
  }
  li:hover {
    background: rgba(0, 0, 0, 0.1) lightskyblue;
  }
  li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .hl {
    background: #ffc600;
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: -200px;
  z-index: -1;
  background-color: midnightblue;
  background-image: url("./assets/back3.svg");
  background-size: cover;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(200px);
  background: lightcyan;
}

// FONTS

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(./assets/fonts/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6HABTdfw.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrGFuV6JABQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

// PLAYER

.player {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

.player__slider {
  max-width: 70px;
  margin-right: auto !important;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 10px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 10px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
  flex: 0;
  flex-basis: 50%;
}

/* unholy css to style input type="range" */

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #fff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.fullScreen {
  background: url("./assets/fullScreen.svg") center center no-repeat;
  background-size: 20px 20px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.previewScreen {
  background: url("./assets/previewScreen.svg") center center no-repeat;
  background-size: 20px 20px;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
